ruamel.yaml>=0.15.42;python_version == '3.7'
ruamel.yaml>=0.15.5;python_version != '3.4' and python_version < '3.7'
ruamel.yaml>=0.15.98;python_version == '3.8'
Jinja2
moban>=0.6.0
colorful
rich
readchar
colorama
moban-jinja2-github>=0.0.2
moban-ansible
